@import "tailwindcss";

.white-placeholder input::placeholder {
  color: rgba(255, 255, 255, 0.25) !important;
  opacity: 1;
}

.white-placeholder input {
  color: #f0f0f0;
  background-color: transparent;
}

.ant-menu-item-selected {
  border-right: 3px solid #722ed1;
}
